body
{
    background-size: cover;
    background-position: center;
}

.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

#h2
{
    font-size: 45px;
    font-family:cursive;
    text-decoration-color: cornflowerblue;
}

a
{
    font-size: 20px !important;
    width: 400px;
    border-radius: 30px !important; 
    background-color: white;
    color: black;
}
